* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg,  #121212);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* App Container */
.app {
    width: 420px;
    height: 650px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    overflow: hidden;
}

/* Header */
.header {
    padding: 15px;
    text-align: center;
    background: rgba(255,255,255,0.2);
    color: white;
    position: relative;
}

.status {
    font-size: 12px;
    color: #00ff88;
    position: absolute;
    right: 15px;
    top: 20px;
}

/* Chat Box */
.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

/* Messages */
.message {
    max-width: 75%;
    padding: 10px 14px;
    margin: 8px 0;
    border-radius: 12px;
    font-size: 14px;
    animation: fadeIn 0.3s ease;
}

/* User */
.user {
    background: #4CAF50;
    color: white;
    margin-left: auto;
}

/* Bot */
.bot {
    background: #ffffff;
    color: black;
}

/* Input Area */
.input-area {
    display: flex;
    padding: 10px;
    background: rgba(255,255,255,0.2);
}

/* Input */
input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
}

/* Button */
button {
    margin-left: 10px;
    padding: 12px 16px;
    border: none;
    background: #667eea;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5a67d8;
}

/* Scrollbar */
.chat-box::-webkit-scrollbar {
    width: 5px;
}

.chat-box::-webkit-scrollbar-thumb {
    background: #ccc;
}

/* Animation */
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}